.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 12px solid #f25c5c;
    border-top: 12px solid #ccc;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  