.wrapper {
    width: 641px;
    padding: 44px 57px;
  
    border-radius: 10px;
    border: 1px solid #dadde1;
  }
  
  .title {
    margin-bottom: 8px;
    color: #101828;
  
    font-size: 20px;
    font-weight: 600;
  }
  
  .text {
    color: #6c717b;
    margin-bottom: 24px;
  }